[submodule "Projects/Movie Rental"]
	path = Projects/Movie Rental
	url = https://github.com/yLexter/movie-rental.git
[submodule "Projects/Academic System"]
	path = Projects/Academic System
	url = https://github.com/yLexter/school-academic-system.git
[submodule "Computer Graphics"]
	path = Computer Graphics
	url = https://github.com/yLexter/computer-graphics.git
